In [40]:
from icecream import ic as print
import pandas as pd
df = pd.read_csv("02 dataframe basics/weather_data.csv")

In [50]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
data = {
    'name': ["Lynbert Steeve", "Padrigon", "Orilla"],
    "type" : ["first name", "lastname", "middle name"]
}
pd.DataFrame(data)

In [31]:
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [53]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny