In [25]:
from icecream import ic as print
import pandas as pd
df = pd.read_csv("./03 Different ways of creating dataframe//weather_data.csv")

In [ ]:
#excel

df = pd.read_excel("03 Different ways of creating dataframe/weather_data.xlsx")
df

In [36]:
#dictionary

weather_data = {
    'y': 2017,
    "day": ['01-1', '01-2', '01-3'],
    "temp": [32, 25, 28],
    'windspeed': [6,7,2],
    'event': ['rain', 'sunny', 'snow']
}

pd.DataFrame(weather_data)

      y   day  temp  windspeed  event
0  2017  01-1    32          6   rain
1  2017  01-2    25          7  sunny
2  2017  01-3    28          2   snow

In [58]:
#tuples

weather_data = [(2017-1-1,32,6,'rain'),
                (6546,984,984,'Nan')]

pd.DataFrame(weather_data, columns=['day','temp','windspeed','event']).set_index('day')

      temp  windspeed event
day
2015    32          6  rain
6546   984        984   Nan

In [ ]:
#list of dictionaries

weather_data = {
    {'day': '2017-01-1', 'temp': 32, 'windspeed': 6, 'event': 'rain'},
    {'day': '2017-01-2', 'temp': 325, 'windspeed': 635, 'event': 'posijdfn'},

}