In [3]:
from icecream import ic as print
import pandas as pd
df = pd.read_csv("./05 Handle missing data//weather_data.csv")

In [7]:
df.interpolate()

         day  temperature  windspeed   event
0   1/1/2017    32.000000       6.00    Rain
1   1/4/2017    30.000000       9.00   Sunny
2   1/5/2017    28.000000       8.00    Snow
3   1/6/2017    30.000000       7.00     NaN
4   1/7/2017    32.000000       7.25    Rain
5   1/8/2017    32.666667       7.50   Sunny
6   1/9/2017    33.333333       7.75     NaN
7  1/10/2017    34.000000       8.00  Cloudy
8  1/11/2017    40.000000      12.00   Sunny